In [1]:
#importing libraries
import pandas as pd
import os

from tqdm.notebook import tqdm

from collections import defaultdict

In [2]:
train_file_names = os.listdir("../dataset/train")
test_file_names = os.listdir("../dataset/test")

In [3]:
train_file_paths = ["../dataset/train/"+name for name in train_file_names]
test_file_paths = ["../dataset/test/"+name for name in test_file_names]

In [4]:
def read_data(file_path):
    """function to read the file and return its contents"""
    with open(file_path) as f:
        data = f.read()
    return data.split("\n")[:-1]

In [5]:
#sample data
read_data(train_file_paths[0])

['ID                                     0x4607',
 'Delivery_person_ID             INDORES13DEL02',
 'Delivery_person_Age                 37.000000',
 'Delivery_person_Ratings              4.900000',
 'Restaurant_latitude                 22.745049',
 'Restaurant_longitude                75.892471',
 'Delivery_location_latitude          22.765049',
 'Delivery_location_longitude         75.912471',
 'Order_Date                         19-03-2022',
 'Time_Orderd                             11:30',
 'Time_Order_picked                       11:45',
 'Weather conditions                      Sunny',
 'Road_traffic_density                     High',
 'Vehicle_condition                           2',
 'Type_of_order                           Snack',
 'Type_of_vehicle                    motorcycle',
 'multiple_deliveries                  0.000000',
 'Festival                                   No',
 'City                                    Urban',
 'Time_taken (min)                    24.000000']

In [6]:
def convert_to_df(file_paths):
    """function to convert file content to data frame"""
    data_dct = defaultdict(list)
    for file_path in tqdm(file_paths):
        data = read_data(file_path)
        for row in data:
            row_val = row.split(" ")
            data_dct[row_val[0]].append(row_val[-1])
            
    return pd.DataFrame(data_dct)

In [7]:
train_df = convert_to_df(train_file_paths)

  0%|          | 0/45593 [00:00<?, ?it/s]

In [8]:
test_df = convert_to_df(test_file_paths)

  0%|          | 0/11399 [00:00<?, ?it/s]

In [9]:
train_df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken
0,0x4607,INDORES13DEL02,37.000000,4.900000,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30,11:45,Sunny,High,2,Snack,motorcycle,0.000000,No,Urban,24.000000
1,0xb379,BANGRES18DEL02,34.000000,4.500000,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45,19:50,Stormy,Jam,2,Snack,scooter,1.000000,No,Metropolitian,33.000000
2,0x5d6d,BANGRES19DEL01,23.000000,4.400000,12.914264,77.678400,12.924264,77.688400,19-03-2022,8:30,8:45,Sandstorms,Low,0,Drinks,motorcycle,1.000000,No,Urban,26.000000
3,0x7a6a,COIMBRES13DEL02,38.000000,4.700000,11.003669,76.976494,11.053669,77.026494,05-04-2022,17:60,18:10,Sunny,Medium,0,Buffet,motorcycle,1.000000,No,Metropolitian,21.000000
4,0x70a2,CHENRES12DEL01,32.000000,4.600000,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30,13:45,Cloudy,High,1,Snack,scooter,1.000000,No,Metropolitian,30.000000

In [11]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45593 entries, 0 to 45592
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45593 non-null  object
 1   Delivery_person_ID           45593 non-null  object
 2   Delivery_person_Age          45593 non-null  object
 3   Delivery_person_Ratings      45593 non-null  object
 4   Restaurant_latitude          45593 non-null  object
 5   Restaurant_longitude         45593 non-null  object
 6   Delivery_location_latitude   45593 non-null  object
 7   Delivery_location_longitude  45593 non-null  object
 8   Order_Date                   45593 non-null  object
 9   Time_Orderd                  45593 non-null  object
 10  Time_Order_picked            45593 non-null  object
 11  Weather                      45593 non-null  object
 12  Road_traffic_density         45593 non-null  object
 13  Vehicle_condition            45593 non-null  object
 14  Type_of_order                45593 non-null  object
 15  Type_of_vehicle              45593 non-null  object
 16  multiple_deliveries          45593 non-null  object
 17  Festival                     45593 non-null  object
 18  City                         45593 non-null  object
 19  Time_taken                   45593 non-null  object
dtypes: object(20)
memory usage: 7.0+ MB

In [12]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11399 entries, 0 to 11398
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           11399 non-null  object
 1   Delivery_person_ID           11399 non-null  object
 2   Delivery_person_Age          11399 non-null  object
 3   Delivery_person_Ratings      11399 non-null  object
 4   Restaurant_latitude          11399 non-null  object
 5   Restaurant_longitude         11399 non-null  object
 6   Delivery_location_latitude   11399 non-null  object
 7   Delivery_location_longitude  11399 non-null  object
 8   Order_Date                   11399 non-null  object
 9   Time_Orderd                  11399 non-null  object
 10  Time_Order_picked            11399 non-null  object
 11  Weather                      11399 non-null  object
 12  Road_traffic_density         11399 non-null  object
 13  Vehicle_condition            11399 non-null  object
 14  Type_of_order                11399 non-null  object
 15  Type_of_vehicle              11399 non-null  object
 16  multiple_deliveries          11399 non-null  object
 17  Festival                     11399 non-null  object
 18  City                         11399 non-null  object
dtypes: object(19)
memory usage: 1.7+ MB

In [13]:
train_df.to_csv("../dataset/train.csv", index=False)
test_df.to_csv("../dataset/test.csv", index=False)

In [14]:
df = pd.read_csv("../dataset/train.csv")

In [15]:
df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken
0,0x4607,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30,11:45,Sunny,High,2,Snack,motorcycle,0.0,No,Urban,24.0
1,0xb379,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45,19:50,Stormy,Jam,2,Snack,scooter,1.0,No,Metropolitian,33.0
2,0x5d6d,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,8:30,8:45,Sandstorms,Low,0,Drinks,motorcycle,1.0,No,Urban,26.0
3,0x7a6a,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,17:60,18:10,Sunny,Medium,0,Buffet,motorcycle,1.0,No,Metropolitian,21.0
4,0x70a2,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30,13:45,Cloudy,High,1,Snack,scooter,1.0,No,Metropolitian,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45588,0x7c09,JAPRES04DEL01,30.0,4.8,26.902328,75.794257,26.912328,75.804257,24-03-2022,11:35,11:45,Windy,High,1,Meal,motorcycle,0.0,No,Metropolitian,32.0
45589,0xd641,AGRRES16DEL01,21.0,4.6,0.000000,0.000000,0.070000,0.070000,16-02-2022,19:55,20:10,Windy,Jam,0,Buffet,motorcycle,1.0,No,Metropolitian,36.0
45590,0x4f8d,CHENRES08DEL03,30.0,4.9,13.022394,80.242439,13.052394,80.272439,11-03-2022,23:50,24:05,Cloudy,Low,1,Drinks,scooter,0.0,No,Metropolitian,16.0
45591,0x5eee,COIMBRES11DEL01,20.0,4.7,11.001753,76.986241,11.041753,77.026241,07-03-2022,13:35,13:40,Cloudy,High,0,Snack,motorcycle,1.0,No,Metropolitian,26.0
45592,0x5fb2,RANCHIRES09DEL02,23.0,4.9,23.351058,85.325731,23.431058,85.405731,02-03-2022,17:10,17:15,Fog,Medium,2,Snack,scooter,1.0,No,Metropolitian,36.0